[submodule "snsapi"]
	path = snsapi
	url = git://github.com/hupili/snsapi.git
[submodule "bottle"]
	path = bottle
	url = git://github.com/defnull/bottle.git
[submodule "ansj_seg"]
	path = ansj_seg
	url = git://github.com/ansjsun/ansj_seg.git
